body {
    background-color: darkgray;
    margin: 0;
}

header {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
}

header h1, header nav {
    color: aliceblue;
}

.body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40% 40%;
}

iframe {
    height: 500px;
    width: 100%;
}

.formInput {
    padding-top: 100px;
}